* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.btn1, .btn2 {
    background-color: #38A4C1;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
}
.btn1:hover, .btn2:hover {
    color: #38A4C1;
    background-color: transparent;
    border: 1px solid #38A4C1;
}

h1, h3, h4, h5 {
    margin-bottom: 20px;
}
h1 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 32px; }
h5 { font-size: 18px; }

.navbar {
    background-color: #DFF5FB;
}
.nav-link {
    color: #333333;
    font-size: 16px;
}
.nav-link.active {
    color: #38A4C1 !important;
    text-decoration: underline;
}

.footer h5 {
    color: #38A4C1;
}
.footer p, .footer ul li a, footer .footer small {
    color: #e0e0e0;
    font-size: 16px;
}
.footer ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}
.footer ul li a:hover {
    color: #FFE100;
    transform: scale(1.05);
}


footer .footer hr {
    border: 1px solid #38A4C1;
    width: 100%;
    margin-top: 30px;
    opacity: 1;
}

@media (max-width: 768px) {
    h1 { font-size: 28px; }
    h3 { font-size: 20px; }
    h4, .btn1, .btn2 { font-size: 18px; }
    .footer ul {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .footer {
        text-align: center;
        justify-content: center;
    }
    
    .navbar-brand img {
        height: 40px;
    }
    .btn1, .btn2 {
        padding: 8px 16px;
        font-size: 14px;
    }
}
